# build.config
# 도커 레지스트리
DOCKER_REGISTRY=genonai

# 이미지 이름
IMAGE_NAME=doc-parser-preprocessor

# 버전 (git tag, 브랜치 이름, 날짜 등으로 교체 가능)
IMAGE_VERSION="v1.3.7-ssr-$(git rev-parse --short=4 HEAD)-cve"

# 실제 Dockerfile 위치 (루트 기준)
DOCKERFILE_PATH=genon/preprocessor/docker/Dockerfile

# 빌드 후 push 할지 여부
PUSH_IMAGE=true

# USER, GROUP
APP_UID=1005
APP_GID=100
APP_UNAME=genos
APP_GNAME=genos

# NLTK packages (comma-separated). Use "all" to download everything.
APP_NLTK_PACKAGES=punkt,stopwords,averaged_perceptron_tagger,averaged_perceptron_tagger_eng,wordnet,omw-1.4
